@media (max-width: 1450px){

    .banner-container{
        height: auto;
    }
    .hero-text{
        margin: 16rem 0;

    }
}
/* **************************************************** */
 @media (max-width: 1170px){

    /* h1{
        font-size: ;
    } */
 }
 /* **************************************************** */
@media (max-width: 1399px){

    #ser-row{
        padding-left: 10rem;
        padding-right: 10rem;
    }
}
/* **************************************************** */
@media (max-width: 991px){
    body,
    html{
        font-size: 8px;
    }
    .header_wrapper .container ul{
        background-color: #fafafa;
    }
    .header_wrapper .container-fluid{
        background-color: #fafafa;
    }
    body,
    html{
        font-size: 9px;
    }
    .navbar-brand{
        padding-bottom: 1.6rem;
    }
    /* **************************************************** */
    @media (max-width: 991px) {

    .header_wrapper .container ul {

   background-color: #fafafa;
     padding-bottom: 5rem;
     padding-top: 5rem;

    }


    .header_wrapper .container ul {
        /* background-color: #fafafa;
        padding-bottom: 5rem;
        padding-top: 5rem;
        border-top: 1px solid black; */
        /* background-color: blue; */

        background-color: #f5f5f5;
        width: 180px;
        margin-left: auto !important;
        margin-right: auto !important;
      }

      .header_wrapper .container ul {
        text-align: start;
      }

      .navbar-collapse{
        background-color: #f5f5f5;
        border-top: 2px solid #E54B4B;
      }

      .nav-link {
        font-size: 18px;
      }
      #pack {
        font-size: 14px;}

        .header_wrapper .nav-item {
            margin: .8rem;
          }

    }
}
/* **************************************************** */
@media (max-width: 767px){
    body,
    html{
        font-size: 8px;
    }
 #company-cont {
    margin-top: 13rem;
 }

 #dom-row{
    padding-left: 11rem;
    padding-right: 11rem;
 }


 #int-row{
    padding-left: 11rem;
    padding-right: 11rem;
 }
 p{
    font-size: 13px;
}
.card-body h3 {
    font-size: 17px;

  }

  .card-body h5 {
    font-size: 14px;
  }

  .card-body h6 {
    font-size: 13px !important;
  }

  #offer h3 {
    font-size: 19px;
  }







}
/* **************************************************** */
@media (max-width: 590px){
    body,
    html{
        font-size: 7px;
    }

}
/* **************************************************** */

@media (max-width: 450px){

 #dom-row{
    padding-left: 3rem;
    padding-right: 3rem;
 }


 #int-row{
    padding-left: 3rem;
    padding-right: 3rem;
 }


 #ser-row{
    padding-left: 3rem;
    padding-right: 3rem;
}
}

@media (max-width: 450px){

    p{
        font-size: 13px;
    }
    .card-body h3 {
        font-size: 17px;

      }

      .card-body h5 {
        font-size: 14px;
      }

      .card-body h6 {
        font-size: 13px !important;
      }
}